Module.markers
Module.symvers
modules.order
*.mod.c
*.o
.*
*.ko
/make.extras
/videobuf-dma-*
/autobuild
/solo6x10-*.tar.*
/debian/*.log
/debian/files
/debian/solo6010-dkms.install
/debian/solo6010-dkms.substvars
/debian/solo6010-dkms/
