#!/usr/bin/make -f
# Copyright (C) 2011 Bluecherry, LLC www.bluecherrydvr.com
# Copyright (C) 2009 Alberto Milone

include /usr/share/cdbs/1/rules/debhelper.mk

DRIVER_NAME := solo6010
VERSION := $(shell dpkg-parsechangelog | grep '^Version:' | cut -d' ' -f2 | cut -d- -f1 | cut -d\: -f2)
PKG  := $(DRIVER_NAME)-dkms
GEN_FILES := dkms.conf $(PKG).install

configure/$(PKG)::
	for i in $(addprefix debian/,$(GEN_FILES)); do	\
		sed -e "s|#VERSION#|$(VERSION)|"	\
			$$i.in > $$i;	\
	done

clean::
	rm -f $(addprefix  debian/,$(GEN_FILES))
